
.layout-basic-demo .arco-layout-sider,
.layout-basic-demo .arco-layout-sider-children,
.layout-basic-demo .arco-layout-content {
    color: var(--color-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layout-basic-demo .arco-layout-sider {
    background-color: #232324;
}

.layout-basic-demo .arco-layout-content {
    background-color: white;
}